@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Poppins:wght@300&display=swap');


body {
    font-family: 'Lora', serif;
    font-weight: 300;
    height: auto;
    background-color: #035397!important;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.navbar {
    background-color: #001E6C!important;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    margin-left: 15px!important;
    font-size: 1.3rem!important;
    color: whitesmoke!important;
}

.fa-bars {
    color: whitesmoke!important;
}

.container-fluid > button {
    color: whitesmoke!important;
}

.navbar a {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke!important;
}

.carousel {
    margin-top: 55px;
    width: 100%;
}

.carousel .carousel-item {
    height: 400px;
    width: 100%;
}

#review-section {
    margin: 10px 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#review-section img{
    max-height: 250px;
    max-width: 250px;
}

.review-comment {
    font-style: italic;
    text-transform: none;
    color: whitesmoke;
    font-size: 2rem;
}

.reviewer-att {
    font-size: 80%;
    font-style: normal;
}

.review-container {
    height: 375px;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-container h2{
    margin-bottom: 0;
}

.social-media {
    background-color: #FFAA4C;
    text-align: center;
    height: auto;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 160%;
}

/* Style for screen size that can fit review containers side by side */

@media only screen and (min-width: 1200px) {

    body {
        min-height: 1200px;
    }

#review-section {
    margin: 0;
    display: inline;
    position: relative;
    left: 50%;
    top: 10px;
    white-space: nowrap;
}

#review-1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    right: -25px;
}

#review-2 {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: auto;
    left: -25px;
    top: 175px;
}

#review-3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    right: -25px;
    top: 350px;
}

#review-4 {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: auto;
    left: -25px;
    top: 525px;
}

.review-left > .review-comment {
    margin-left: 30px;
    width: 350px;
}

.review-right > .review-comment {
    margin-right: 30px;
    width: 350px;
    text-align: right;
}

.review-image {
    border-radius: 10%;
}

}