@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 1500px;
    background-color: #006994!important;
}

h1, h2 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
}



.navbar-brand   {
    font-family: 'Dancing Script', cursive;
}

.carousel {
    margin-top: 55px;
    width: 100%;
}

.carousel .carousel-item {
    height: 400px;
    width: 100%;
}

#review-section {
    margin: 10px 10% 0 10%;
}

#review-section img{
    max-height: 250px;
    max-width: 250px;
}

.review-comment {
    font-style: italic;
    text-transform: none;
}

.review-container {
    margin-bottom: 1rem;
}

.review-container h2{
    margin-bottom: 0;
}